:root {
  --color-primary: #18a096;
  --color-secondary: #f8b333;
  --swiper-pagination-color: #18a096;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bottom: 2px;
  /* ... */
}

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.has-text-align-left {
  @apply text-left;
}

.has-text-align-center {
  @apply text-center;
}

.has-text-align-right {
  @apply text-right;
}

.has-large-font-size {
  @apply text-4xl;
}

.alignfull {
  @apply w-screen relative;

  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
}

.wp-block-image img {
  @apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
  @apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  @apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
  @apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
  @apply table-caption;

  caption-side: bottom;
}

.wp-block-image .alignleft {
  @apply float-left mr-4;
}
.wp-block-image .alignright {
  @apply float-right ml-4;
}
.wp-block-image .aligncenter {
  @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
  @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
  @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
  @apply mr-4;
}

.wp-block-cover {
  @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

  min-height: 430px;
}

.wp-block-verse {
  @apply font-sans;
}

.wp-block-media-text {
  @apply grid grid-cols-2 gap-4;
}
/* Animation CSS */
.animate-slideinup {
  animation: slideinup 0.5s;
}
@keyframes slideinup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-backdrop {
  animation: backdrop 0.5s linear 0.2s forwards;
}
@keyframes backdrop {
  0% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(8px);
  }
}
body {
  @apply selection:cursor-not-allowed;
}
main {
  @apply flex lg:gap-4 px-8 md:px-0 mb-4 mt-4 mx-auto flex-col lg:flex-row container;
}

.inner-container {
  @apply container flex flex-col mb-4 justify-between mx-auto lg:flex-row lg:gap-4;
}
.column {
  @apply container;
}
.right {
  @apply container lg:px-2 lg:w-1/4 flex flex-col items-center;
}
.left {
  @apply lg:w-3/4 container lg:px-2;
}
.row {
  @apply w-full flex flex-col mb-2 mt-2;
}
.title-primary {
  @apply p-4 text-white font-bold bg-primary;
}
.title-secondary {
  @apply p-4 text-white font-bold bg-primary;
}
/* Footer CSS */
footer {
  @apply w-full;
}
.tab {
  @apply w-full flex flex-col text-base lg:flex-row;
}
.tab li {
  @apply text-center block py-2 px-4 bg-primary hover:bg-secondary text-white cursor-pointer flex-grow flex-1;
}

.tab li.active {
  @apply bg-secondary cursor-default;
}

/* NavBar CSS */
.reveal a {
  @apply h-14 flex p-3 lg:p-2 lg:h-auto border-white bg-secondary border rounded transition-all duration-200 items-center text-sm leading-none text-white hover:border-transparent hover:text-primary hover:bg-white mt-4 lg:mt-0 lg:bg-transparent lg:border-transparent;
}
.reveal.download a {
  @apply p-1 bg-white;
}
.download {
  @apply lg:hidden;
}
.reveal:hover a {
  @apply lg:border-white lg:bg-secondary lg:border;
}
.menu-item-link.menu-active {
  @apply border-white bg-secondary text-dark border font-bold rounded px-2 hover:text-primary;
}
.menu-item-link {
  @apply block lg:inline-block text-white hover:text-secondary hover:font-bold lg:mr-4 py-2 active:text-slate-400;
}
.menu-items {
  @apply text-sm flex flex-col flex-wrap lg:flex-row lg:items-center;
}
.main-menu {
  @apply w-full flex-grow flex-wrap flex-col-reverse lg:flex-row lg:flex-nowrap lg:flex lg:justify-between lg:items-center lg:w-auto;
}
.icons-menu {
  @apply mb-4 flex items-center justify-end gap-4 lg:gap-1 lg:mb-0;
}
.menu-mobile {
  @apply block lg:hidden;
}
.menu-mobile button {
  @apply flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white;
}
.navbar {
  @apply flex items-center justify-between flex-wrap bg-primary p-4 sticky top-0 z-10;
}
.logo {
  @apply flex flex-shrink-0 items-center text-white mr-4 gap-x-2;
}
.logo a {
  @apply flex flex-shrink-0 items-center gap-x-2;
}
.logo img {
  @apply bg-white rounded-3xl shadow-xl hover:animate-pulse;
}
.logo span {
  @apply font-semibold text-xl;
}
.home-active {
  @apply lg:border-white lg:bg-secondary lg:border lg:font-bold lg:rounded lg:p-1 hover:text-primary gap-2 flex hover:text-dark;
}
.home {
  @apply flex gap-x-2 hover:text-dark;
}
/* Swiper Container */
.swiper-container {
  @apply shadow-lg hover:border hover:bg-slate-500 hover:shadow-2xl transition-all duration-200;
}
.swiper-container h2 a {
  @apply hover:underline;
}
.pub img {
  @apply mx-auto w-full sm:w-auto;
}

/* Modal */
#modal {
  @apply fixed left-0 top-0 h-full w-full overflow-y-auto overflow-x-hidden outline-none dark:bg-neutral-800 dark:bg-opacity-60 open:z-30 animate-backdrop;
}
.modal-inner {
  @apply pointer-events-none relative flex min-h-max w-auto items-center transition-all duration-300 ease-in-out sm:mx-auto sm:mt-8 sm:max-w-xl;
}
#modal .modal-form {
  @apply pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none;
}
.modal-header {
  @apply flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50;
}
.modal-header > div {
  @apply flex-grow flex justify-between mr-4 font-bold;
}
.modal-header .notactive {
  @apply uppercase rounded bg-secondary px-4 py-2 border-white text-xs font-medium leading-normal text-white shadow transition duration-150 ease-in-out hover:bg-primary;
}
.modal-body {
  @apply relative p-4 bg-slate-300;
}
.modal-footer {
  @apply flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50;
}
.cta-publish-job {
  @apply mr-auto border-white bg-secondary border p-2 text-xs font-medium uppercase leading-normal rounded text-white shadow-lg transition duration-200 ease-in-out hover:bg-primary;
}
.modal-submit-button {
  @apply inline-block rounded bg-primary p-2 text-xs font-medium uppercase leading-normal text-white shadow-lg transition duration-200 ease-in-out hover:bg-secondary;
}
.terms-list {
  @apply flex-wrap text-xs md:justify-around;
}
.terms-list li {
  @apply p-1;
}
.terms-list a {
  @apply hover:font-bold transition-all duration-200;
}
.regions-list {
  @apply w-1/2 md:w-1/5;
}
.secteurs-list {
  @apply md:w-1/3;
}
.feature img {
  @apply w-full flex object-scale-down h-48 sm:h-60 md:h-72 lg:h-48;
}
.terms {
  @apply mb-2 block text-dark;
}
.terms span {
  @apply mr-2 inline-block text-primary hover:text-secondary;
}
.terms-hide > span:nth-of-type(n + 4) {
  @apply hidden;
}
.terms small {
  @apply whitespace-nowrap hover:underline hover:font-bold;
}
.more-terms {
  @apply cursor-pointer font-normal;
}
/* Form */
.form-label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}
.form-input {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white;
}
.form-select {
  @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
}
.form-select-icon {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;
}
/* Post */
.post-title {
  @apply text-2xl md:text-3xl lg:text-3xl font-bold tracking-tighter leading-tight md:leading-none mb-12 text-center md:text-left;
}

/* Archive Component */
.archive-main-title {
  @apply bg-primary text-white text-xl md:text-2xl p-2;
}
.archive-main-title span {
  @apply whitespace-nowrap;
}
.archive {
  @apply border flex flex-col sm:flex-row hover:shadow-lg hover:bg-slate-100 transition-all duration-200;
}
.archive-post-feature {
  @apply sm:w-1/3 md:w-1/4 flex items-center justify-center;
}
.archive-post-feature img {
  @apply object-cover w-full md:w-56;
}
.post-info {
  @apply sm:w-2/3 md:w-3/4 sm:ml-4 sm:mr-4 py-4 px-2 sm:px-0;
}
.post-list-categories {
  @apply uppercase tracking-wide text-xs text-indigo-600 font-bold;
}
.archive-post-title {
  @apply block text-base leading-tight font-semibold text-gray-900 hover:underline;
}
.post-list-terms {
  @apply mt-2 tracking-wide text-xs font-bold;
}
.post-list-excerpt {
  @apply text-xs mt-2;
}

.go-top {
  @apply bg-dark w-10 h-10 rounded-full hover:bg-primary hover:animate-none fixed bottom-10 right-10 z-20 text-white flex items-center justify-center cursor-pointer animate-bounce transition-all duration-200;
}
.copyright {
  @apply text-center bg-secondary text-dark py-2 text-xs;
}

/* Pagination */
.pagination {
  @apply flex flex-wrap sm:flex-nowrap gap-1 md:gap-2 justify-center py-4;
}
.pagination-item {
  @apply border p-2 inline-block text-center text-xs md:text-sm hover:text-white hover:bg-secondary hover:font-bold;
}
.pagination-more {
  @apply text-slate-400 p-2 inline-block text-center text-xs md:text-sm;
}
.current-page {
  @apply border p-2 inline-block bg-primary text-white font-bold text-center text-xs md:text-sm;
}

/* FOOTER MENU */
.navbar-footer {
  @apply bg-primary text-white text-xs;
}
.footer-menu {
  @apply container mx-auto;
}
.footer-menu-items {
  @apply flex flex-wrap justify-center gap-x-2 lg:justify-between w-full items-center lg:flex-nowrap;
}
.footer-menu-items a {
  @apply hover:font-bold hover:underline whitespace-nowrap py-1 inline-block;
}
.pub-in-header {
  @apply mx-auto max-w-screen-md text-center;
}
.pub-in-header img {
  @apply w-full;
}
.facebook > div {
  @apply sm:flex justify-center lg:block;
}
.post-preview-image {
  @apply mb-5 bg-white;
}
.post-preview-title {
  @apply text-sm mb-3 leading-snug;
}
.post-preview-title a {
  @apply text-white hover:underline;
}
.post-header-image {
  @apply mb-8 md:mb-16 sm:mx-0;
}
.post-header-date {
  @apply mb-2 text-sm font-bold;
}
.post-header-terms {
  @apply mb-2 text-xs;
}
